body {
	padding-left: 15px;
}

h1 a, h2 a {
	color: #C25500;
	front-family: 'Lobster';
}

.page-header {
    background-color: #4A8F8B;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: underline wavy  #FF3028;
}

.content {
    margin-left: 40px;
}
